*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*header*/
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
    margin-top: 50px;
    margin-top: 20px;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-family: sans-serif;
}
.container{
    width: 100%;
    height: 50px;
    background-position: center;
    background-size: cover;
    text-align: center;
    background-image: url(blue.jpg);
}
.container2{
    width: 100%;
    height: 500px;
    background-position: center;
    background-size: cover;
    text-align: center;
    background-image: url(university.jpeg);
}
.textbox{
    text-align: center;
    padding: 100px;
}
.textbox h1{
    color: white;
    font-size: 70px;
}
.textbox p{
    color: beige;
    font-size: 20px;
    padding: 30px;
}
.link{
    color: white;
    border: 1px black;
    border-radius: 3px;
    font-size: 30px;
    padding: 2px;
}

/*courses*/
.courses{
    width: 100%;
    height: 500px;
    background-position: center;
    background-size: cover;
    text-align: center;
}
.courses h1{
    font-size: 70px;
    color: black;
    margin-top: 100px;
    padding: 5px;
}
.courses p{
    font-size: 20px;
    color: black;
}
.course-div0{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    margin-top: 50px;
}
.course-div{
    padding: 20px;
    background: #fff3f3;
    border: 10%;
    border-radius: 5%;
    width: 30%;
    margin-left: 20px;
}
.course-div h1{
    color: black;
    font-size: 30px;
    margin-top: 20px;
}
.course-div p{
    color: black;
    font-size: 25px;
    margin-top: 20px;
}
.course-div:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
  }

/*campus*/
.campus{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    text-align: center;
    margin-top: 100px;
}
.campus h1{
    color: black;
    font-size: 50px;
}
.campus p{
    color: black;
    font-size: 15px;
    margin-top: 10px;
}
.campus-div{
    display: flex;
    margin-top: 100px;
}
.campus-div0 img{
    width: 100%; 
    display:block;
    height: 80%;
    padding: 20px;
    margin-left: 10px;
}

/*facilities*/
.facilities{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    text-align: center;
    margin-top: 100px;
}
.facilities-div{
    display: flex;
    margin-top: 100px;
}
.facilities-div0 img{
    width: 100%; 
    display:block;
    height: 60%;
    padding: 20px;
    margin-left: 10px;
    border-radius: 5%;
}
.facilities h1{
    color: black;
    font-size: 50px;
}
.facilities p{
    color: black;
    font-size: 15px;
    margin-top: 10px;
}
.facilities-div0 h1{
font-size: 30px;
margin-top: 10px;
}
.facilities-div0 p{
font-size: 20px;
margin-top: 20px;
}

/*testimonials*/
.testimonials{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    text-align: center;
    margin-top: 100px;
}
.testimonials h1{
    color: black;
    font-size: 50px;
}
.testimonials p{
    color: black;
    font-size: 15px;
    margin-top: 10px;
}
.testimonials-div{
    display: flex;
    margin-top: 100px;
}
.testimonials-div0{
    margin-left: 200px;
    margin-top: 20px;
    background: #fff3f3;
    height: 200px;
}
.testimonials-div0 img{
    height: 50px;
    border-radius: 50%;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}
.testimonials-div0 p{
    float: right;
    padding: 10px;
    margin-top: 5px;
}
.testimonials-div0 h1{
    color: black;
    font-size: 25px;
    margin-left: 70px;
}
.picon{
    margin-right: 550px;
}

/*cta*/
.cta{
    background-size: cover;
    text-align: center;
    background-image: url(cta.jpeg);
    height: 500px;
    width: 100%;
    margin-top: 100px;
}
.cta-div{
    text-align: center;
    padding: 200px;
}
.cta-div h1{
    color: white;
    font-size: 80px;
}
.cta-div a{
    font-size: 50px;
    color: white;
}

/*footer*/
.footer{
    background-size: cover;
    text-align: center;
    height: 250px;
    width: 100%;
    margin-top: 100px;
}
  .footer h1{
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
  .footer p{
    padding: 30px;
    font-size: 20px;
}
.icons .fa{
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

  /*about us page*/
  .containerpage{
    width: 100%;
    height: 50px;
    background-position: center;
    background-size: cover;
    text-align: center;
    background-image: url(blue.jpg); 
  }
  .nav-linkspage{
    flex: 1;
    text-align: right;
}
.nav-linkspage ul li{
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
    margin-top: 50px;
    margin-top: 20px;
}
.nav-linkspage ul li a{
    color: white;
    text-decoration: none;
    font-family: sans-serif;
}.container2page{
    width: 100%;
    height: 500px;
    background-position: center;
    background-size: cover;
    text-align: center;
    background-image: url(graduation2.jpeg);
}
.textboxpage{
    text-align: center;
    padding: 200px;
}
.textboxpage h1{
    color: white;
    font-size: 80px;
}
.container3page{
    width: 100%;
    height: 50px;
    background-position: center;
    background-size: cover;
}
.textbox2page{
    display: flex;
}
.textbox3page{
    margin-top: 200px;
    margin-left: 20px;
    padding: 50px;
}
.textbox4page img{
    float: right;
    margin-top: 200px;
    height: 600px;
    width: 600px;
}
.textbox3page h1{
    font-size: 40px;
    color: black;
}
.textbox3page p{
    padding: 5px;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.textbox3page a{
    color: black;
}
.footer2{
    background-size: cover;
    text-align: center;
    height: 250px;
    width: 100%;
    margin-top: 100px;
    background-image: url(blue.jpg);
}
.footer2 h1{
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}
.footer2 p{
    padding: 30px;
    font-size: 20px;
    color: white;
}
.icons2 .fa{
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

/*course page*/
.footer3{
    background-size: cover;
    text-align: center;
    height: 250px;
    width: 100%;
    background-image: url(blue.jpg);  
}
.footer3 h1{
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}
.footer3 p{
    padding: 10px;
    font-size: 20px;
    color: white;
}

/*blog page*/
.containerblog{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    margin-top: 100px;
}
.textboxblog{
    display: flex;
}
.textbox2blog{
    width: 100%;
}
.textbox2blog h1{
    font-size: 30px;
    margin-top: 50px;
}
.textbox2blog p{
    font-size: 20px;
    padding: 5px;
}
.textbox3blog{
    height: 100%;
    width: 50%;
}
.textbox3blog div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #555;
    padding: 8px;
    box-sizing: border-box;
}
.textbox3blog h3{
    background: #f44336;
    color: #fff;
    padding: 7px 0;
    font-size: 16px;
    margin-bottom: 20px;
}
.textbox4blog{
    border: 1px solid #ccc;
    margin: 50px 0;
    padding: 10px 20px;
}
.textbox4blog h1{
    text-align: left;
}
.textbox-form input, .textbox-form textarea{
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #f0f0f0;
}
.textbox-form button{
    margin: 10px 0;
}

/*contact page*/
.contact{
    width: 80%;
    margin: auto;
    margin-top: 100px;
  }
  .contact-div1{
    flex-basis: 48%;
    margin-bottom: 30px;
  }
  .contact-div1 div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }
  .contact-div1 div .fa{
    font-size: 28px;
    color: #f44336;
    margin: 10px;
    margin-right: 30px;
  }
  .contact-div1 div p{
    padding: 0;
  }
  .contact-div1 div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
  }
  .contact-div1 input, .contact-div1 textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }